<a href="https://colab.research.google.com/github/akbarriki/flights_data_cleansing/blob/main/Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

initialisation and loading flights data

In [ ]:
import gzip
import pandas as pd
from datetime import datetime

print("extracting csv.gz ...", end="")
filename = "flightlist_20200401_20200430.csv.gz"
f = gzip.open(filename, mode='rt')
print("done")

start_time = datetime.now()
print("Start opening csv using pandas (",start_time,")")
df = pd.read_csv(f)
end_time = datetime.now()
print("Complete opening csv using pandas (",end_time,")")
elapsed_time = (end_time - start_time)
print("Elapsed time: ", str(elapsed_time.seconds), "second(s)")
print()
df.head()

extracting csv.gz ...done
Start opening csv using pandas ( 2023-01-30 04:02:03.163381 )
Complete opening csv using pandas ( 2023-01-30 04:02:07.847948 )
Elapsed time:  4 second(s)

,callsign,number,icao24,registration,typecode,origin,destination,firstseen,lastseen,day,latitude_1,longitude_1,altitude_1,latitude_2,longitude_2,altitude_2
0,HBAL102,NaN,a21c0f,NaN,NaN,NaN,NaN,2020-03-31 00:41:44+00:00,2020-04-01 22:50:47+00:00,2020-04-01 00:00:00+00:00,-4.821136,-76.319370,18288.0,-4.524902,-79.010274,2194.56
1,AUA1028,NaN,440081,OE-LPD,B772,YSSY,LOWW,2020-03-31 03:29:15+00:00,2020-04-01 00:41:43+00:00,2020-04-01 00:00:00+00:00,-33.963489,151.180630,0.0,48.117417,16.549988,NaN
2,ABW120,NaN,424564,VQ-BRJ,B748,KORD,UUEE,2020-03-31 07:07:17+00:00,2020-04-01 12:54:29+00:00,2020-04-01 00:00:00+00:00,41.965911,-87.883152,0.0,55.983490,37.495839,472.44
3,CSN461,CZ461,780da8,B-2026,B77L,KLAX,EDDF,2020-03-31 07:15:52+00:00,2020-04-01 12:02:53+00:00,2020-04-01 00:00:00+00:00,33.936302,-118.413963,0.0,50.035675,8.572299,45.72
4,ETH3730,NaN,04015c,NaN,NaN,OMSJ,EBLG,2020-03-31 08:05:10+00:00,2020-04-01 01:15:08+00:00,2020-04-01 00:00:00+00:00,25.386425,55.422139,609.6,50.634247,5.439027,76.20

load airports data

In [ ]:
df_airports = pd.read_csv("airports.csv")
df_airports.head()

,id,ident,type,name,latitude_deg,longitude_deg,elevation_ft,continent,iso_country,iso_region,municipality,scheduled_service,gps_code,iata_code,local_code,home_link,wikipedia_link,keywords
0,6523,00A,heliport,Total Rf Heliport,40.070801,-74.933601,11.0,NaN,US,US-PA,Bensalem,no,00A,NaN,00A,NaN,NaN,NaN
1,323361,00AA,small_airport,Aero B Ranch Airport,38.704022,-101.473911,3435.0,NaN,US,US-KS,Leoti,no,00AA,NaN,00AA,NaN,NaN,NaN
2,6524,00AK,small_airport,Lowell Field,59.947733,-151.692524,450.0,NaN,US,US-AK,Anchor Point,no,00AK,NaN,00AK,NaN,NaN,NaN
3,6525,00AL,small_airport,Epps Airpark,34.864799,-86.770302,820.0,NaN,US,US-AL,Harvest,no,00AL,NaN,00AL,NaN,NaN,NaN
4,6526,00AR,closed,Newport Hospital & Clinic Heliport,35.608700,-91.254898,237.0,NaN,US,US-AR,Newport,no,NaN,NaN,NaN,NaN,NaN,00AR

removing all rows with null value for origin

In [ ]:
print("Rows with null value for origin - before removal: ", df.origin.isna().sum())
df.dropna(subset=['origin'], inplace=True)
print("Rows with null value for origin - after removal: ", df.origin.isna().sum())
df.head()

Rows with null value for origin - before removal:  192084
Rows with null value for origin - after removal:  0

,callsign,number,icao24,registration,typecode,origin,destination,firstseen,lastseen,day,latitude_1,longitude_1,altitude_1,latitude_2,longitude_2,altitude_2
1,AUA1028,NaN,440081,OE-LPD,B772,YSSY,LOWW,2020-03-31 03:29:15+00:00,2020-04-01 00:41:43+00:00,2020-04-01 00:00:00+00:00,-33.963489,151.180630,0.0,48.117417,16.549988,NaN
2,ABW120,NaN,424564,VQ-BRJ,B748,KORD,UUEE,2020-03-31 07:07:17+00:00,2020-04-01 12:54:29+00:00,2020-04-01 00:00:00+00:00,41.965911,-87.883152,0.0,55.983490,37.495839,472.44
3,CSN461,CZ461,780da8,B-2026,B77L,KLAX,EDDF,2020-03-31 07:15:52+00:00,2020-04-01 12:02:53+00:00,2020-04-01 00:00:00+00:00,33.936302,-118.413963,0.0,50.035675,8.572299,45.72
4,ETH3730,NaN,04015c,NaN,NaN,OMSJ,EBLG,2020-03-31 08:05:10+00:00,2020-04-01 01:15:08+00:00,2020-04-01 00:00:00+00:00,25.386425,55.422139,609.6,50.634247,5.439027,76.20
5,QTR895,NaN,06a1be,A7-BEH,B77W,OTHH,OTHH,2020-03-31 08:14:22+00:00,2020-04-01 02:16:51+00:00,2020-04-01 00:00:00+00:00,25.287415,51.591339,0.0,25.259399,51.625061,-15.24

removing all rows with null value for destination

In [ ]:
print("Rows with null value for destination - before removal: ", df.destination.isna().sum())
df.dropna(subset=['destination'], inplace=True)
print("Rows with null value for destination - after removal: ", df.destination.isna().sum())
df.head()

Rows with null value for destination - before removal:  88987
Rows with null value for destination - after removal:  0

,callsign,number,icao24,registration,typecode,origin,destination,firstseen,lastseen,day,latitude_1,longitude_1,altitude_1,latitude_2,longitude_2,altitude_2
1,AUA1028,NaN,440081,OE-LPD,B772,YSSY,LOWW,2020-03-31 03:29:15+00:00,2020-04-01 00:41:43+00:00,2020-04-01 00:00:00+00:00,-33.963489,151.180630,0.0,48.117417,16.549988,NaN
2,ABW120,NaN,424564,VQ-BRJ,B748,KORD,UUEE,2020-03-31 07:07:17+00:00,2020-04-01 12:54:29+00:00,2020-04-01 00:00:00+00:00,41.965911,-87.883152,0.0,55.983490,37.495839,472.44
3,CSN461,CZ461,780da8,B-2026,B77L,KLAX,EDDF,2020-03-31 07:15:52+00:00,2020-04-01 12:02:53+00:00,2020-04-01 00:00:00+00:00,33.936302,-118.413963,0.0,50.035675,8.572299,45.72
4,ETH3730,NaN,04015c,NaN,NaN,OMSJ,EBLG,2020-03-31 08:05:10+00:00,2020-04-01 01:15:08+00:00,2020-04-01 00:00:00+00:00,25.386425,55.422139,609.6,50.634247,5.439027,76.20
5,QTR895,NaN,06a1be,A7-BEH,B77W,OTHH,OTHH,2020-03-31 08:14:22+00:00,2020-04-01 02:16:51+00:00,2020-04-01 00:00:00+00:00,25.287415,51.591339,0.0,25.259399,51.625061,-15.24

drop all unnecessary columns

In [ ]:
columns_to_keep = ['callsign', 'origin', 'destination', 'day']
df = df[columns_to_keep]
df.head()

  callsign origin destination                        day
1  AUA1028   YSSY        LOWW  2020-04-01 00:00:00+00:00
2   ABW120   KORD        UUEE  2020-04-01 00:00:00+00:00
3   CSN461   KLAX        EDDF  2020-04-01 00:00:00+00:00
4  ETH3730   OMSJ        EBLG  2020-04-01 00:00:00+00:00
5   QTR895   OTHH        OTHH  2020-04-01 00:00:00+00:00

merge the flights and airports dataframe to link gps_code and origin

In [ ]:
columns_to_keep += ['iso_region']
df_flightlist_airports = pd.merge(df, df_airports, left_on='origin', right_on='gps_code', how='left')[columns_to_keep]
df_flightlist_airports.rename(columns={'iso_region':'orig_region'}, inplace=True)
df_flightlist_airports.head()

  callsign origin destination                        day orig_region
0  AUA1028   YSSY        LOWW  2020-04-01 00:00:00+00:00      AU-NSW
1   ABW120   KORD        UUEE  2020-04-01 00:00:00+00:00       US-IL
2   CSN461   KLAX        EDDF  2020-04-01 00:00:00+00:00       US-CA
3  ETH3730   OMSJ        EBLG  2020-04-01 00:00:00+00:00       AE-SH
4   QTR895   OTHH        OTHH  2020-04-01 00:00:00+00:00       QA-DA

merge the flights and airports dataframe to link gps_code and destination. Keep the `dest_region` and `type` columns (`type` column to be renamed as `dest_type`)

In [ ]:
columns_to_keep = list(df_flightlist_airports.columns)
columns_to_keep += ['iso_region','type']
df_flightlist_airports = pd.merge(df_flightlist_airports, df_airports, left_on='destination', right_on='gps_code', how='left')[columns_to_keep]
df_flightlist_airports.rename(columns={'iso_region':'dest_region', 'type':'dest_type'}, inplace=True)
df_flightlist_airports.head()

,callsign,origin,destination,day,orig_region,dest_region,dest_type
0,AUA1028,YSSY,LOWW,2020-04-01 00:00:00+00:00,AU-NSW,AT-9,large_airport
1,ABW120,KORD,UUEE,2020-04-01 00:00:00+00:00,US-IL,RU-MOS,large_airport
2,CSN461,KLAX,EDDF,2020-04-01 00:00:00+00:00,US-CA,DE-HE,large_airport
3,ETH3730,OMSJ,EBLG,2020-04-01 00:00:00+00:00,AE-SH,BE-WLG,medium_airport
4,QTR895,OTHH,OTHH,2020-04-01 00:00:00+00:00,QA-DA,QA-DA,large_airport

Since the earlier merging is done using left join, it is important to make sure that all records containing null value are removed

In [ ]:
print("Number of records - before null removal: ", str(len(df_flightlist_airports)))
df_flightlist_airports.dropna(subset=['orig_region','dest_region'], inplace=True)
print("Number of records - after null removal: ", str(len(df_flightlist_airports)))

Number of records - before null removal:  561834
Number of records - after null removal:  523183

Only keep the rows with `dest_region` started with "US-"

In [ ]:
df_flightlist_airports = df_flightlist_airports[df_flightlist_airports['dest_region'].str.startswith("US-")]
df_flightlist_airports.head()

,callsign,origin,destination,day,orig_region,dest_region,dest_type
22,UAL2793,VHHH,KORD,2020-04-01 00:00:00+00:00,HK-NT,US-IL,large_airport
24,PAC214,RKSI,KCVG,2020-04-01 00:00:00+00:00,KR-28,US-KY,large_airport
26,KLM601,EHAM,KLAX,2020-04-01 00:00:00+00:00,NL-NH,US-CA,large_airport
29,SOO276,VHHH,KCVG,2020-04-01 00:00:00+00:00,HK-NT,US-KY,large_airport
30,LCO1308,SBBR,KMIA,2020-04-01 00:00:00+00:00,BR-DF,US-FL,large_airport

classify each row as either international or domestic flight based on the `orig_region` value. This category is put into a new column, namely `flight_type`

In [ ]:
df_flightlist_airports['flight_type'] = df_flightlist_airports['orig_region'].apply(lambda x: "Domestic" if str(x).startswith("US-") else "International")
df_flightlist_airports.head()

,callsign,origin,destination,day,orig_region,dest_region,dest_type,flight_type
22,UAL2793,VHHH,KORD,2020-04-01 00:00:00+00:00,HK-NT,US-IL,large_airport,International
24,PAC214,RKSI,KCVG,2020-04-01 00:00:00+00:00,KR-28,US-KY,large_airport,International
26,KLM601,EHAM,KLAX,2020-04-01 00:00:00+00:00,NL-NH,US-CA,large_airport,International
29,SOO276,VHHH,KCVG,2020-04-01 00:00:00+00:00,HK-NT,US-KY,large_airport,International
30,LCO1308,SBBR,KMIA,2020-04-01 00:00:00+00:00,BR-DF,US-FL,large_airport,International

remove the time from the `day` column, resulting the `day` column contains only the date

In [ ]:
df_flightlist_airports['day'] = df_flightlist_airports['day'].apply(lambda x: str(x).split()[0])
df_flightlist_airports.sample(5)

,callsign,origin,destination,day,orig_region,dest_region,dest_type,flight_type
28744,SWA154,KPHX,KABQ,2020-04-02,US-AZ,US-NM,medium_airport,Domestic
404867,QXE2122,KSFO,KVUO,2020-04-22,US-CA,US-WA,small_airport,Domestic
422856,N240MT,KMVY,KMHT,2020-04-23,US-MA,US-NH,medium_airport,Domestic
333724,AAL2724,KDFW,KSNA,2020-04-19,US-TX,US-CA,large_airport,Domestic
236043,EJA795,KCMH,KTTN,2020-04-13,US-OH,US-NJ,medium_airport,Domestic

exporting the final result into a .csv.gz file

In [ ]:
df_flightlist_airports.to_csv("flights_airports.csv.gz", index=False, sep="|", compression="gzip")